{% extends "DMBBlogBundle::layout.html.twig" %}

{% block content %}
    <div class="list_posts">
        {% for post in posts  %}
            <div class="row">
                <a href="{{ post.url }}">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Illustration Chapitre n° {{ post.chapternumber }} du super livre">
                            <span class="card-title">
                                {{ post.title }}
                            </span>
                            <a href="{{ post.url }}" class="btn-floating halfway-fab waves-effect waves-light red chapter_number">
                                {{ post.chapterNumber }}
                            </a>

                        </div>
                        <div class="card-content">
                            <p>
                                {{ post.content|slice(0, 50)|raw}}...
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="{{ post.url }}">Lire le chapitre {{ post.chapterNumber }}</a>
                        </div>
                    </div>
                </a>
            </div>


        {% endfor %}
    </div>
{% endblock %}