{% extends "DMBBlogBundle::layout.html.twig" %}
{#
date(post.publishedDate) < date()
#}
{% block content %}
    <div class="list_posts">
        {% for post in pagination  %}
            {% if (post.ispremium and is_granted("IS_AUTHENTICATED_REMEMBERED")) or post.ispremium == false %}
                {# if the user is register we display premium chapter #}
                <div class="row">
                    <a href="{{ post.url }}">
                        <div class="card hoverable">
                            <div class="card-image">
                                <div class="img_card valign-wrapper">
                                    <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Illustration Chapitre n° {{ post.chapternumber }} du super livre" class="center-align">
                                </div>
                                <span class="card-title">
                                    {{ post.title }}
                                </span>
                                <a href="{{ post.url }}" class="btn-floating halfway-fab waves-effect waves-light red chapter_number">
                                    {{ post.chapterNumber }}
                                </a>
                            </div>
                            <div class="card-content">
                                <p>
                                    {{ post.content|slice(0, 500)|striptags|raw  }}...
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{{ post.url }}">Lire le chapitre {{ post.chapterNumber }}</a>
                            </div>
                        </div>
                    </a>
                </div>
            {% else %}
                {# if the user is not register #}
                <div class="row inactive">
                    <div class="card">
                        <div>
                            <div class="card-image">
                                <div class="img_card valign-wrapper">
                                    <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Illustration Chapitre n° {{ post.chapternumber }} du super livre" class="center-align">
                                </div>
                                <span class="card-title">
                                    {{ post.title }}
                                </span>
                                <span class="btn-floating halfway-fab waves-effect waves-light red chapter_number">
                            {{ post.chapterNumber }}
                        </span>

                            </div>
                            <div class="card-content">
                                <p>
                                    {{ post.content|slice(0, 500)|striptags|raw  }}...
                                </p>
                            </div>
                        </div>
                        <div class="overlay"></div>
                        <div class="card-action">
                            <a href="#">Chapitre réservé aux membres premium</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {# display pagination #}
    {{ knp_pagination_render(pagination) }}
{% endblock %}