{% extends "DMBBlogBundle::layout.html.twig" %}

{% block main_title %}
    Chapitre n°{{ post.chapterNumber }} :
    {{ post.title }}
{% endblock %}
{% block subheading %}
    <p>
        Publié par {{ post.author }} le {{ post.publishedDate|date }}.
    </p>
{% endblock %}

{% block content %}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert">
            <p>
                {{ message }}
            </p>
        </div>
    {% endfor %}
    <div class="post">
        <div class="post_content">
            <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Illustration Chapitre n° {{ post.chapternumber }} du super livre">
            {{ post.content|raw }}
        </div>
    </div>

    <div class="comments row">
        <h4>Les commentaires sur ce chapitre</h4>
        <form action="{{ path('dmb_blog_post', {'id': post.id}) }}" method="post" class="col s12">
            <div class="col s12 form_id row col s12">
                <div class="col s12">
                    <p>Commenter en tant que {{ app.user.username }}</p>
                    <p>Ce n'est pas vous ? <a href="{{ path('fos_user_security_logout') }}"> Se déconnecter</a></p>
                </div>
                <div class="col s12 form_submit_comment">
                    <div class="col s10">
                        {{ form_label(form.content, "Votre commentaire") }}
                        {{ form_errors(form.content) }}
                        {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea'}}) }}
                    </div>
                    {{ form_widget(form.save, { 'label': 'Valider'}) }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </form>
        <ul class="collection">
            {% for comment in comments %}
                <li class="collection-item avatar">
                    <div class="circle valign-wrapper">
                        <img src="{{ vich_uploader_asset(comment.member, 'imageFile')}}" alt="avatar de {{ app.user.username }}"/>
                    </div>
                    <div>
                        <p class="comment_heading">
                            Le {{ comment.date|date }},
                            par {{ comment.member.username }}

                        </p>
                        {{ comment.content }}

                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">comment</i>
        </a>
    </div>


{% endblock %}
