{% extends "DMBBlogBundle::layout.html.twig" %}

{% block main_title %}
    Chapitre n°{{ post.chapterNumber }} :
    {{ post.title }}
{% endblock %}
{% block subheading %}
    <p>
        Publié par {{ post.author }} le {{ post.publishedDate|date }}.
    </p>
{% endblock %}

{% block content %}
    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert">
            <p>
                {{ message }}
            </p>
        </div>
    {% endfor %}
    <div class="post">
        <div class="post_content">
            {{ post.content|raw }}
        </div>
        <img src="{{ post.coverImage}}" alt="">
    </div>




    <div class="comments row">
        <h4>Les commentaires sur ce chapitre</h4>
        <form action="{{ path('dmb_blog_post', {'id': post.id}) }}" method="post" class="col s12">

            <div class="col s12 form_id row col s12">
                <div class="col s12">
                    <div class="col m6">
                        {# Textarea #}
                        {{ form_label(form.author, "Votre nom") }}
                        {{ form_errors(form.author) }}
                        {{ form_widget(form.author, {'attr': {'class': 'materialize-textarea'}}) }}
                        {# End Textarea #}
                    </div>
                    <div class="col m6">
                        {# Textarea #}
                        {{ form_label(form.email, "Votre email") }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'materialize-textarea'}}) }}
                        {# End Textarea #}
                    </div>
                </div>
                <div class="col s12 form_submit_comment">
                    <div class="col s10">
                        {# Textarea #}
                        {{ form_label(form.content, "Votre commentaire") }}
                        {{ form_errors(form.content) }}
                        {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea'}}) }}
                        {# End Textarea #}
                    </div>
                    {{ form_widget(form.save, { 'label': 'Valider'}) }}
                    {{ form_rest(form) }}

                </div>
            </div>
            {{ form_row(form.save, { 'label': 'Valider', 'attr': {'class': 'btn waves-effect waves-light'}}) }}

        </form>
        <ul class="collection">
            {% for comment in comments %}
                <li class="collection-item avatar">
                    <i class="material-icons circle green">toys</i>
                    <div>
                        <p class="comment_heading">
                            {{ comment.author }}
                            {{ comment.email }}
                            {{ comment.date|date }}
                        </p>
                        {{ comment.content|raw }}

                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">comment</i>
        </a>
    </div>


{% endblock %}
