<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}DMB Blog{% endblock %}</title>

    <!-- Lato Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>

<body>

<header>
    <nav>
        <div class="container">
            <div class="logo col s3 brand-logo">
                {% block logo %}
                    <a href="{{ path('dmb_blog_homepage') }}">
                        <i class="material-icons">&#xE02F;</i>
                        <span>Jean Forteroche</span>
                    </a>
                {% endblock %}
            </div>
            <!--burger menu-->
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <!--end burger menu-->

            <!--destop menu-->
            <ul class="col s9 right hide-on-med-and-down">
                {% block header_navigation %}
                    <li class="active">
                        <a href="{{ path('dmb_blog_homepage') }}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About me and this book
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Crowdfund this book
                        </a>
                    </li>
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_profile_edit') }}" class="valign-wrapper">
                                <div class="circle valign-wrapper">
                                    <img src="{{ vich_uploader_asset(app.user, 'imageFile')}}" alt="avatar de {{ app.user.username }}"/>
                                </div>
                                <i class="material-icons">arrow_drop_down</i>
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">Connexion</a> |
                            <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                        {% endif %}
                    </li>
                {% endblock %}
            </ul>
            <!--end destop menu-->

            <!--mobile menu-->
            <div class="side-nav" id="mobile-demo">
                {% block header_navigation_mobile %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="connected_card center-align">
                            <div class="circle valign-wrapper">
                                <img src="{{ vich_uploader_asset(app.user, 'imageFile')}}" alt="avatar de {{ app.user.username }}"/>
                            </div>
                            <p>Hi {{ app.user.username }}!</p>
                        </div>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a> |
                        <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                    {% endif %}
                    <ul>
                        <li class="active">
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About me and this book
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Crowdfund this book
                            </a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
            <!--end mobile menu-->
        </div>
    </nav>
    <div class="container titles">
        <h1>
            {% block main_title %}
                Super titre du livre
            {% endblock %}
        </h1>
        <div class="subheading">
            {% block subheading %}
            {% endblock %}
        </div>
    </div>
</header>

<div class="content container">
    {% block content %}
        Super story to be done here
    {% endblock %}
</div>

<!-- Core Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/materialize/js/materialize.min.js"></script>
<script src="/scripts/app.js"></script>

<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    })

</script>

</body>
</html>